/* General formatting */

body {
    margin: 0px;
    padding: 0px;
    background: #333333;
    background-color: rgb(59, 59, 59);
    font-family: "Courier New", Courier, monospace;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid;
    border-color: white;
}

.sectionLeft {
    display: flex;
    width: 50%;
}

.sectionLeft img {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.sectionLeft h2 {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    margin-left: 5%;
    font-size: 1.5rem;
    color: white;
}

.sectionRight {
    width: 50%;
}

.sectionRight ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
    list-style: none;
}

.sectionRight a {
    color: white;
    text-decoration: none;
}

/* Main */

main h1 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 3rem;
    color: white;
}

.stackList {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.stackList h2 {
    display: flex;
    justify-content: center;
    color: white;
}

.stackList img {
    width: 60px;
    height: 60px;
}

.leftSectionImg {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.rightSectionImg {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.lowerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

.lowerSection p {
    font-size: 1.2rem;
    color: white;
}

.lowerSection img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    gap: 500px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    border-top: 1px solid white;
}

footer p {
    position: relative;
    bottom: 6px;
    font-weight: bold;
    color: white;
}
